/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Variables CSS, color palette */
:root {
  --primary-color: #7ede90;
  --white-color: #FFFFFF;
  --text-color: #303030;
  --gray-color: #636363;
  --invert-primary-color: #7ede90;
  --invert-text-color: #FFFFFF;
  --invert-bg-color: #2B3137;
  --square-color: #7ede90;
}

/* MIGHT WANT TO MAKE A REALLY COOL ANCHOR POINT SCROLL, DO */
html {
	scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
 @media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}


/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #7ede90;
  background-image: linear-gradient(#7ede90, #fbb13c);
  border: 2px solid transparent;
  border-radius: 10px;
  z-index: -1;
}
::-webkit-scrollbar-track {
  background: var(--white-color)
}
.is-black::-webkit-scrollbar-track {
  background: var(--invert-bg-color)
}
/* Main Styles */
.text-center {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Text properties, make an animated background later */
body {
  min-height: 100vh;
  font-family: "Dosis", Arial;
  background: var(--white-color);
  transition: .3s;
}

bodyAlt {
  min-height: 100vh;
  font-family: "Press Start 2P", "Dosis", Arial;
  background: var(--white-color);
  transition: .3s;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.is-black .h1 {
color: var(--white-color);
}

.is-black .h2 {
color: var(--white-color);
}
.is-black .h3 {
  color: var(--white-color);
}
.is-black .h4 {
  color: var(--white-color);
  }
.is-black .h5 {
  color: var(--white-color);
  }
.is-black .p{
  color: var(--white-color);
  }


.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}
/* container */
.container {
  max-width: 1500px;
  padding:  10px;
  width: 100%;
  margin: 0 auto;
}

.container_flex {
  max-width: 1100px;
  padding:  10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

/* top bar HEADER */
.header {
  padding: 10px 0;
  background: var(--white-color);
  box-shadow: 0px -2px 10px rgba(0,0,0,.1);
  transition: .3s;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.header_logo {
  font-weight: 600;
  font-size: 28px;
  color: var(--text-color);
  transition: .3s;
  z-index: 1;
}

.header_rightside {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-menu_list {
  display: flex;
  align-items: center;
  z-index: 1;
}

.header-menu_item {
  padding: 0 20px;
  z-index: 1;
}

.header-menu_link {
  font-weight: 500;
  font-size: 18px;
  color: var(--text-color);
  display: inline-flex;
  position: relative;
  transition: .3s;
  z-index: 1;
}

.header-menu_linkAlt {
  font-weight: 500;
  font-size: 8px;
  color: var(--text-color);
  display: inline-flex;
  position: relative;
  transition: .3s;
  z-index: 1;
}

.header-menu_link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 4px;
  background: var(--primary-color);
  border-radius: 2px;
  transition: .3s;
  z-index: 1;
}

.header-menu_link:hover:after {
  width: 100%;
}

.header_moon {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 24px;
  color: var(--text-color);
  cursor: pointer;
  transition: .3s;
}

.header_mob-menu {
  margin-left: 10px;
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
}

.header_mob {
  display: none;
}

/* START OF INTRO, BODIES */
.intro {
  min-height: calc(80vh - 80px);
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-bottom: 200px;
}

.skillsIntro {
  min-height: calc(80vh - 80px);
  display: flex;
  align-items: center;
  font-weight: 500;
}

.intro_body {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.intro_content {
  max-width: 500px;
  width: 100%;
  padding-right: 20px;
  margin-right: 10%;
}

.intro_img {
  max-width: 500px;
  width: 100%;
}

.intro_img img {
  display: block;
  width: 100%;
}

.intro_title {
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  color: var(--text-color);
  margin-bottom: 10px;
  transition: .3s;
}
/* Intro title color, when loads color changes slightly for a bit */

.intro_title span {
  color: var(--primary-color);
  transition: .3s;
}

.intro_position {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.is-black .intro_position {
  color: var(--white-color)
}

.intro_position {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.intro_positionAlt {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 25px;
}

.intro_text {
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color);
  margin-bottom: 30px;
  transition: .3s;
}

.skills {
  min-height: calc(200vh - 80px);
  display: flex;
  align-items: center;
}

.skills_body {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 150px;
  position: relative;
  height: auto;
}

.skills_content {
  max-width: 500px;
  width: 100%;
  padding-right: 20px;
  display: inline-block;
  vertical-align: top;
  display: inline-block;
  margin-right: 25%;
}
/* Have two elements align side by side and collapse to columns when shrinking width */
.skills_img {
  max-width: 500px;
  width: 100%;
    display: inline-block;
}

.skills_img img {
  display: block;
  width: 100%;
}

.skills_title {
  font-weight: 600;
  font-size: 64px;
  line-height: 1.2;
  color: var(--text-color);
  margin-bottom: 10px;
  transition: .3s;
}
/* Intro title color, when loads color changes slightly for a bit */

.skills_title span {
  color: var(--primary-color);
  transition: .3s;
  font-size: 48px;
}

.skills_position {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--gray-color);
  margin-bottom: 25px;
}

.skills_positionAlt {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: var(--text-color);
  margin-bottom: 25px;
}

.skills_text {
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-color);
  margin-bottom: 30px;
  transition: .3s;
}
.btn {
  display: inline-flex;
  background: var(--primary-color);
  box-shadow: 0 5px 0 #75cf85;
  border-radius: 30px;
  padding: 13px 36px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  transition: .3s;
}

.btn:active{
  box-shadow: none;
  transform: translateY(5px);
}
.btn .bx {
  font-size: 24px;
}
/* option to do a button hover if you want */
/*
.btn:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
*/

.intro-soc {
  display: flex;
  margin: 0 -10px;
  margin-top: 40px;
  align-items: center;
}

.intro-soc_item {
  padding: 0 10px;
}

.intro-soc_link {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--primary-color);
  background: transparent;
  font-size: 24px;
  color: var(--primary-color);
  transition: .3s;
}

.intro-soc_link:hover {
  background: var(--primary-color);
  color: var(--white-color);
  transform: scale(1.15);
}

/*
.slides {
  height: 10rem;
  width: 150px;
}
*/
.slide_body{
align-items: center;
background: #e3e3e3;
display: flex;
height: 100vh;
justify-content: center;
}
@keyframes scroll {
0% {
  transform: translateX(0);
}
100% {
  transform: translateX(calc(-250px * 7));
}
}
.slider {
background: none;
height: 200px;
margin: auto;
overflow: hidden;
position: absolute;
width: 35%;
justify-content: center;
display: block;
}

.slider::before, .slider::after {
background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
height: 100px;
position: absolute;
width: 150px;
z-index: 2;
}
.slider::after {
right: 0;
top: 0;
transform: rotateZ(180deg);
}
.slider::before {
left: 0;
top: 0;
}
.slider .slide-track {
animation: scroll 20s linear infinite;
display: flex;
/* 125 px = icon * x amount of icons */
width: calc(125px * 6);
}
.slider .slides {
height: 100px;
width: 250px;
}

.skills_stats {
  background: none;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 360px;
  justify-content: right;
  }


/* Black Styles */

body.is-black {
  background: var(--invert-bg-color);
}

.is-black .header {
  background: var(--invert-bg-color);
  box-shadow: 0px -2px 10px rgba(0,0,0,.5);
}

.is-black .header_logo {
  color: var(--invert-text-color);
}

.is-black .header-menu_link {
  color: var(--invert-text-color);
}

.is-black .header-menu_link:after {
  background: var(--invert-primary-color);
}

.is-black .header_moon {
  color: var(--invert-text-color);
}

.is-black .intro_title {
  color: var(--invert-text-color);
}

.is-black .intro_title span {
  color: var(--invert-primary-color);
}

.is-black .intro_text {
  color: var(--invert-text-color);
}

.is-black .btn {
  color: var(--invert-text-color);
  border-color: var(--invert-text-color);
}

/*
.is-black .btn:hover {
  background: var(--invert-primary-color);
  color: var(--white-color);
}
*/

.is-black .intro-soc_link {
  color: var(--invert-primary-color);
  border-color: var(--invert-primary-color);
}

.is-black .intro-soc_link:hover {
  background: var(--invert-primary-color);
  color: var(--white-color);
}

.is-black .header_mob-menu {
  color: var(--invert-text-color);
}

/*
.carousel{
scroll-snap-type: x mandatory;
scroll-padding: 0 24px;
}
/* square animations */
*/

.box-area{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.box-area li{
  position: absolute;
  list-style: none;
  width: 0px;
  height: 0px;
  bottom: -100px;
  border-radius: 5px;
  background: var(--square-color);
  /* NO FILL */
  /* border: 3px solid var(--square-color); */
  animation: animate 30s linear infinite;
  z-index: -10;
}

.box-area li:nth-child(1){
  left: 86%;
  width: 80px;
  height: 80px;
  bottom: -100px;
  animation-delay: 0s;
  animation-duration: 10s;
  z-index: -10;
  --square-color: #ED4D6E;
}

.box-area li:nth-child(2){
  left: 40%;
  width: 40px;
  height: 40px;  
  --square-color: #C3BEF7;
  border-radius: 50%;
  bottom: -100px;
  animation-delay: 5s;
  animation-duration: 10s;
  z-index: -10px;
}

.box-area li:nth-child(3){
  left: 60%;
  width: 45px;
  height: 45px;
  bottom: -100px;
  animation-delay: 7s;
  animation-duration: 10s;
  z-index: -10px;
  --square-color: #187795;
}

.box-area li:nth-child(4){
  left: 15%;
  width: 30px;
  height: 30px;
  bottom: -100px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  --square-color: #FBB13C;
  border-bottom: 28.8675px solid var(--square-color);
  animation-delay: 2s;
  animation-duration: 10s;
  z-index: -10px;
}

.box-area li:nth-child(5){
  left: 25%;
  width: 50px;
  height: 80px;
  border-radius: 50px 50px 0 0;
  width: 45px;
  height: 45px;
  bottom: -100px;
  border-bottom: 28.8675px solid var(--square-color);
  animation-delay: 5s;
  animation-duration: 10s;
  z-index: -10px;
}

@keyframes animate{
  0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
  /* colors to use #ED4D6E (red), #C3BEF7 (lilac), #FBB13C (orange), #0C120C (black chocolate, p nice), #454545 onix, #187795 teal blue */

/* create a bar that animates from left to right to a certain point */

.containerBar{
  width: 100%;
  margin: 0 auto;
  top:0; right:0; 
}
.containerBar_flex {
  max-width: 1100px;
  padding:  10px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}
@keyframes load{
  from {
    width: 0%
  }
}
@-webkit-keyframes load{
  from {
    width: 0%
  }
}
@-moz-keyframes load{
  from {
    width: 0%
  }
}
@-o-keyframes load{
  from {
    width: 0%
  }
}

.bar{
  background-color: #EEE;
  padding: 2px;
  border-radius: 20px;
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--invert-bg-color);
  font-weight: 900;

}
.bar::before{
  content:  attr(data-skill);
  background-color: var(--primary-color);
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before{
  background-color: var(--primary-color);
}
.bar.back::before{
  background-color: #FBB13C;
}

.bar.learning::before{
  width: calc(40% - 10px);
}
.bar.basic::before{
  width: calc(60% - 10px);
}
.bar.intermediate::before{
  width: calc(70% - 10px);
}
.bar.advanced::before{
  width: calc(90% - 10px);
}
.bar.expert::before{
  width: calc(100% - 10px);
}

/* Typewriter effect CODE: https://www.codeply.com/go/orizmNWvT3/css-only-typing-animation-with-multiple-words */
  .typewriter {
    display: flexbox;
}

.typewriter .static {
    color: var(--text-color);
    font-size: 48px;
    font-weight: 500;
    width: 100%;
}

.is-black .typewriter .static {
    color: white;
    font-size: 48px;
    font-weight: 500;
}
.typewriter span {
    color: #7ede90;
    font-weight: 800;
    width: 100%;
}

.typewriter span1 {
    color: #fbb13c;
    font-weight: 800;
    width: 100%;
}


.typewriter .types{
    line-height: 90px;
    height: 80px;
    overflow: hidden; 
    margin-top: -10px;
    margin-right: 50px;
}

.types li{
    list-style: none;
    font-weight: 800;
    font-size: 48px;
    position:relative;
    top: 0;
    animation: slide 16s steps(4)
    infinite;
    }

.types li {
    position: relative;
}

.types li::after{
    content: "";
    position:absolute;
    font-size: 36px;
    height: 100%;
    width: 100%;
    animation: typing 4s steps(17) 
    infinite;
    border-left: 3px solid #fbb13c;
    left: 0;
    background: white;
    }

.is-black .types li::after{
    content: "";
    position:absolute;
    font-size: 36px;
    height: 100%;
    width: 100%;
    animation: typing 4s steps(17) 
    infinite;
    border-left: 3px solid #fbb13c;
    left: 0;
    background: var(--invert-bg-color);
        }


/* Three evenly spaced boxes that are centered center. Each box will have an icon, number, and description */
.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding: 5rem 5rem;
}

.icon-box .box {
  flex: 1 1 300px;
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.icon-box .box:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.icon-box .box .icon {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fbb13c;
}

  /* The typing effect */
  @keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
  }

  @keyframes slide{
    100%{
        top: -360px;
    }
  }


/* Media Queries */

@media (max-width: 1023px) {
  .header-menu_link {
    font-size: 16px;
  }
  .header_logo {
    font-size: 24px;
  }
  .intro_title {
    font-size: 60px;
  }
  .intro_position {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .intro_text {
    font-size: 16px;
    margin-bottom: 20 px;
  }
  .intro-soc {
    margin-top: 20px;
  }
  .btn {
    font-size: 14px;
  }
  .btn .bx {
    font-size: 20px;
  }
  .typewriter {
    display: flexbox;
    justify-content: center;
}
}

@media (max-width: 767px) {
  .header {
    padding: 20px 0;
  }
  .intro {
    min-height: calc(100vh - 69px);
  }
  .header-menu {
    position: fixed;
    top: 69px;
    left: 100%;
    width: 100%;
    height: calc(100vh - 69px);
    background: rgba(255,255,255,.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
  }
  .header-menu.is-active {
    left: 0;
  }
  .header-menu_list {
    flex-direction: column;
  }
  .header_mob {
    display: block;
  }
  .is-black .header-menu {
    background: rgba(0,0,0,.8);
  }
  .header-menu_item:not(:last-child) {
    margin-bottom: 20px;
  }
  .header-menu_link {
    font-size: 24px;
  }
  .intro_body {
    flex-direction: column-reverse;
  }
  .intro_img {
    margin-bottom: 30px;
  }
  .intro_content {
    padding: 0;
  }
  .intro_title {
    font-size: 32px;
    text-align: center;
  }
  .intro_position {
    text-align: center;
  }
  .intro_text {
    text-align: center;
  }
  .intro_btn {
    display: flex;
    justify-content: center;
  }
  .intro-soc {
    justify-content: center;
  }
  .skills_body{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .typewriter {
    margin: 0 17.5%;
}
}

.padding{
  padding: 30px;
}